body
	nav.menu
		.container
			.row
				.col-3
					.logo
						img(src="img/logo.png")
						.circle
						p Aware
							span  Now
				.col-6
					nav.menu
						+nav_menu(menu)
				.col-3
					.button.sign
						i.arrow
						span Sign Up
							
					.button.login
						i.arrow
						span Login
	header
		.back_img
			.oval_1
				img(src="img/oval_1.png")
			.oval_2
				img(src="img/oval_2.png")
			.oval_3
				img(src="img/oval_3.png")
			.oval_4
				img(src="img/oval_4.png")
			.oval_5
				img(src="img/oval_5.png")
			.wave
				.wave_1
					img(src="img/aware-wave.png")
				.wave_2
					img(src="img/aware-wave.png")
				.wave_3
					img(src="img/bg_white.png")
			.meditation Meditation
			.execut Executiveskills
			.fear fear
			.breathe Breathe
			.health Healthybody
			.focus Focus
			.breathe_2 Breathe
			.leader Leadership
		.container
			.row
				.col-12
					.head_txt
						img(src="img/Main title.png")
						h1 Self-mastering ecosystem
						p The iCouch Calendar is the best booking and schedule management system ever built.
						.button Try now
						span Show me more
	section.how_work
		.head_text
			.container
				.row
					.col-12
						.title_txt
							h2 How it works
							p Some of the benifits
		.section_how
			.container
				.row
					.col-3
						.how_icon
							.privat_chat
								img(src="img/Private Chat Sessions.png")
								p Privat Chat 
								<br> Sessions
							.secure_mess
								img(src="img/Secure Messaging icon.png")
								p Secure 
								<br> Messaging
							.ease_shedul
								img(src="img/Easy Scheduling icon.png")
								p Easy 
								<br> Scheduling
					.col-9
						figure.one
							.slide
								p.text Our secure message system <br> makes insecure email <br> a thing of the past.
								.number 01
									span /01
								img(src="img/Untitled-6.png")
								.text_bottom
									p.some Some <br> else
									h3 Our secure message
									p Our secure message system makes insecure <br> email a thing of the past. Clients and <br> potential clients can contact you securely but <br> with the convenience of email.
							.slide
								p.text Our secure message system <br> makes insecure email <br> a thing of the past.
								.number 02
									span /03
								img(src="img/Untitled-6.png")
								.text_bottom
									p.some Some <br> else
									h3 Our secure message
									p Our secure message system makes insecure <br> email a thing of the past. Clients and <br> potential clients can contact you securely but <br> with the convenience of email.
							.slide
								p.text Our secure message system <br> makes insecure email <br> a thing of the past.
								.number 03
									span /03
								img(src="img/Untitled-6.png")
								.text_bottom
									p.some Some <br> else
									h3 Our secure message
									p Our secure message system makes insecure <br> email a thing of the past. Clients and <br> potential clients can contact you securely but <br> with the convenience of email.

	section.review
		.background_circle
			img(src="img/aware-bg.png")
		.white
		.container
			.row
				.col-12
					.title_txt
						h2 Reviews
						p Happy participants
					.block-for-slider
						.viewport
							ul.slidewrapper
								li.slide
									.text
										.side
											img(src="img/user-icon.png")
											h4 Craig Austin
											span 23 year
										.number 01
										.about_txt
											h3 This app has <br> changed my life and <br> I am so grateful
											p Our secure message makes insecure email a thing <br> of the post. Clients and potential clients can contact you <br> securely but with the convenience of email. Easily add <br> messages to your cases
									img(src="img/Mask.png" class="slide-img")
							ul.slidewrapper
								li.slide
									.text
										.side
											img(src="img/user-icon.png")
											h4 Craig Austin
											span 23 year
										.number 02
										.about_txt
											h3 This app has <br> changed my life and <br> I am so grateful
											p Our secure message makes insecure email a thing <br> of the post. Clients and potential clients can contact you <br> securely but with the convenience of email. Easily add <br> messages to your cases
									img(src="img/Mask.png" class="slide-img")
							ul.slidewrapper
								li.slide
									.text
										.side
											img(src="img/user-icon.png")
											h4 Craig Austin
											span 23 year
										.number 03
										.about_txt
											h3 This app has <br> changed my life and <br> I am so grateful
											p Our secure message makes insecure email a thing <br> of the post. Clients and potential clients can contact you <br> securely but with the convenience of email. Easily add <br> messages to your cases
									img(src="img/Mask.png" class="slide-img")
							ul.slidewrapper
								li.slide
									.text
										.side
											img(src="img/user-icon.png")
											h4 Craig Austin
											span 23 year
										.number 04
										.about_txt
											h3 This app has <br> changed my life and <br> I am so grateful
											p Our secure message makes insecure email a thing <br> of the post. Clients and potential clients can contact you <br> securely but with the convenience of email. Easily add <br> messages to your cases
									img(src="img/Mask.png" class="slide-img")
						.select-img
							.slide
								img(src="img/user 2.png")
							.slide
								img(src="img/user-4.png")
							.slide
								img(src="img/user 3.png")
							.slide
								img(src="img/user.png")

	section.coaches
		.title_txt
			h2 Top coaches
			p Trust the professionals
		.coaches_sld
			.slide
				h4 Adam McBride
				.button #breath
				p Are you considering taking prescription madication to help
				.rank
					h5 Ranking
					.check_rank
						form(action="")
							input(type='radio' id="check_1" name="check_1")
							label(for='check_1')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_2')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_3')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_4')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_5')
					p 236 reviews
				.photo_slide
					img(src="" alt="coach")
			.slide
				h4 Adam McBride
				.button #breath
				p Are you considering taking prescription madication to help
				.rank
					h5 Ranking
					.check_rank
						form(action="")
							input(type='radio' id="check_1" name="check_1")
							label(for='check_1')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_2')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_3')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_4')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_5')
					p 236 reviews
				.photo_slide
					img(src="" alt="coach")
			.slide
				h4 Adam McBride
				.button #breath
				p Are you considering taking prescription madication to help
				.rank
					h5 Ranking
					.check_rank
						form(action="")
							input(type='radio' id="check_1" name="check_1")
							label(for='check_1')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_2')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_3')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_4')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_5')
					p 236 reviews
				.photo_slide
					img(src="" alt="coach")
			.slide
				h4 Adam McBride
				.button #breath
				p Are you considering taking prescription madication to help
				.rank
					h5 Ranking
					.check_rank
						form(action="")
							input(type='radio' id="check_1" name="check_1")
							label(for='check_1')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_2')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_3')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_4')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_5')
					p 236 reviews
				.photo_slide
					img(src="" alt="coach")
			.slide
				h4 Adam McBride
				.button #breath
				p Are you considering taking prescription madication to help
				.rank
					h5 Ranking
					.check_rank
						form(action="")
							input(type='radio' id="check_1" name="check_1")
							label(for='check_1')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_2')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_3')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_4')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_5')
					p 236 reviews
				.photo_slide
					img(src="" alt="coach")
			.slide
				h4 Adam McBride
				.button #breath
				p Are you considering taking prescription madication to help
				.rank
					h5 Ranking
					.check_rank
						form(action="")
							input(type='radio' id="check_1" name="check_1")
							label(for='check_1')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_2')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_3')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_4')
							input(type='radio' id="check_1" name="check_1")
							label(for='check_5')
					p 236 reviews
				.photo_slide
					img(src="" alt="coach")
		.show
			.button Show me all
			p.text Our secure message system makes insecure email a thing of the past. Clients and potential clients can contact you securely but with the convenience of email. Easily add messages to your cases.
		.border_bottom
	section.advance
		.back
			img(src="img/fg.png")
		+svg("Abmin-all", 'Path')
		.title_advance
			h2 Advance yourself
			.logo
				img(src="img/logo.png")
				.circle
		.container
			.row
				.col-4
					.column_one
						h3 More than
						.number
							span 247
							span.text Coaches
				.col-4
					.slide_search
						form(action="")
							input(type="text" placeholder="Search")
							.shape
						.window
							.window_slide
								.slide
									h5 leaderhship
									p Leadership is both a research area and a practical skill encompassing the ability of an individual or organization to «lead» or guide other individuals, teams, or entire organizations.
									.button Touch me
								.slide
									h5 leaderhship
									p Leadership is both a research area and a practical skill encompassing the ability of an individual or organization to «lead» or guide other individuals, teams, or entire organizations.
									.button Touch me
								.slide
									h5 leaderhship
									p Leadership is both a research area and a practical skill encompassing the ability of an individual or organization to «lead» or guide other individuals, teams, or entire organizations.
									.button Touch me
							.shape_back
								.one
									img(src="img/Path 4.png")
								.two
									img(src="img/Path 4@2x.png")
								.three
									img(src="img/Path 5@2x.png")
								
				.col-4
					.text_advance
						h3 Aware Now.
						p Low self-esteem, stress, fear, bad sleep and unhealthy habits sometimes hold us back from enjoying life to the fullest.

	footer
		.container
			.row
				.border_top
				.col-4
					.logo
						img(src="img/logo.png")
						.circle
						p Aware
							span  Now
				.col-4
					.social Social
						<i class="fa fa-facebook" aria-hidden="true"></i>
						<i class="fa fa-twitter" aria-hidden="true"></i>
						<i class="fa fa-instagram" aria-hidden="true"></i>
				.col-4
					.link
						span Terms
						span Privacy
						a(href="support@aware.com") support@aware.com




















