head
		meta(charset='utf-8')
		title #{title}
		link(href='libs/font-awesome/css/font-awesome.min.css', rel='stylesheet')
		link(href='style/media.css', rel='stylesheet')
		link(href='style/main.css', rel='stylesheet')



