//- mixin social_network(socials)
//- 	ul
//- 		each social in socials
//- 			li
//- 				a(href="#{social.url}") <i class='#{social.class}' aria-hidden='true'></i>




//- mixin contact_info(contacts)
//- 		each contact in contacts
//- 			.contact_icon
//- 				<i class='#{contact.class}' aria-hidden='true'></i> 
//- 				<span> #{contact.text} </span>