
-var title = "TEST PROJECT";
//- -var facebook_icon = 'fa fa-facebook';
//- -var twitter_icon = 'fa fa-twitter';
//- -var google_icon = 'fa fa-google-plus';
//- -var map_marker = 'fa fa-map-marker';
//- -var phone = 'fa fa-phone';
//- -var email = 'fa fa-envelope'


//- - var socialSite = [{ 'url': 'https://uk-ua.facebook.com/', 'class': facebook_icon}, { 'url': 'https://twitter.com/?lang=ru', 'class': twitter_icon }, { 'url': 'https://www.google.ru/', 'class': google_icon }];


//- //- user_url
//- -var user_1 = [{ 'url': 'https://uk-ua.facebook.com/', 'class': facebook_icon}, { 'url': 'https://twitter.com/?lang=ru', 'class': twitter_icon }];

//- -var user_2 = [{ 'url': 'https://uk-ua.facebook.com/', 'class': facebook_icon}, { 'url': 'https://twitter.com/?lang=ru', 'class': twitter_icon }];


//- -var user_3 = [{ 'url': 'https://uk-ua.facebook.com/', 'class': facebook_icon}, { 'url': 'https://twitter.com/?lang=ru', 'class': twitter_icon }];

//- -var contact = [{'class': map_marker, 'text': 'Street/House/Zip'}, {'class': phone, 'text': '111-111-1111'}, {'class': email, 'text': 'email@l.com'}]