body
	header
		.back_img
			.oval_1
				img(src="img/oval_1.png")
				span.meditation Meditation
				span.execut Executiveskills
				span.fear fear
			.oval_2
				img(src="img/oval_2.png")
			.oval_3
				img(src="img/oval_3.png")
			.oval_4
				img(src="img/oval_4.png")
			.oval_5
				img(src="img/oval_5.png")
			.wave
				.wave_1
					img(src="img/bg_white.png")
				.wave_2
					img(src="img/aware-wave.png")
				.wave_3
					img(src="img/aware-wave.png")
		.container
			.row
				.col-3
					.logo
						img(src="img/logo.png")
						.circle
						p Aware
							span  Now
				.col-6
					nav.menu
						+nav_menu(menu)
				.col-3
					.button.sign
						i.arrow
						span Sign Up
							
					.button.login
						i.arrow
						span Login




